{% extends 'base.html' %}

{% block title %}Recover your password | MoodTracker{% endblock title %}

{% block content %}
<div class="auth-content">
  <form method="post" class="auth-form register-form">
    <div class="auth-form-content">
      <a href="{{ url_for('entry.index') }}">Home</a>
      <h1>Recover your password</h1>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
            {% for message in messages %}
            <li class="error">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <input type="email" id="email" name="email" placeholder="Email" required>
      <button type="submit" class="submit">Send recovery email</button>
    </div>
  </form>
</div>
{% endblock content %}
