{% extends 'base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block action %}
<a href="{{ url_for('auth.logout') }}">Log out</a>
{% endblock action %}

{% block content %}
<section class="dashboard">
  <div class="left">
    Aqui va un panel lateral :)
  </div>
  <div class="right">
    <h1>Dashboard</h1>
    {% for entry in entries %}
      <div class="entry">
        <h2>{{ entry['emotion'] }}</h2>
        <p>{{ entry['description'] }}</p>
        <p>{{ entry['modified_at'] }}</p>
        <a class="button" href="{{ url_for('entry.update', id = entry['id']) }}">Edit</a>
      </div>
    {% endfor %}
    <a class="button" href="{{ url_for('entry.create') }}">Crear</a>
  </div>
</section>
{% endblock content %}
