{% extends 'base.html' %}

{% block title %}Update{% endblock title %}

{% block content %}
<section class="update">
  <form method="post">
    <div class="back">
      <a href="{{ url_for('entry.entries') }}">Go back</a>
    </div>
    <div id="selected-activities"></div>
    <div class="activity-area">
      <input
        class="activity"
        id="activity"
        list="activities"
        placeholder="What did you do today?"
      />
      <datalist id="activities" name="activities">
        <option>Draw</option>
        <option>Paint</option>
        <option>Training</option>
        <option>Family</option>
        <option>Videogames</option>
        <option>Dance</option>
        <option>Travel</option>
        <option>Coffee</option>
        <option>Work</option>
        <option>Friends</option>
        <option>School</option>
        <option>Shopping</option>
        <option>Read</option>
        <option>Park</option>
      </datalist>
      <button onclick="addActivity()" type="button" class="add-activity" id='add-activity'><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/></svg></button>
    </div>
    <div class="description-area">
      <textarea
      type="text"
      name="description"
      class="description"
      id="description"
      placeholder="Description"
      required
    >{{ request.form['description'] or entry['description'] }}</textarea>
    </div>

    <div class="gallery">
      <img
        src="{{ url_for('static', filename='img/happy.png') }}"
        alt="happy-face"
        data-value="happy"
        class="happy-face face {% if request.form['selected_value'] == 'happy' or entry['emotion'] == 'happy' %}selected{% endif %}"
        onclick="selectEmotion(this)"
      />
      <img
        src="{{ url_for('static', filename='img/good.png') }}"
        alt="good-face"
        data-value="good"
        class="good-face face {% if request.form['selected_value'] == 'good' or entry['emotion'] == 'good' %}selected{% endif %}"
        onclick="selectEmotion(this)"
      />
      <img
        src="{{ url_for('static', filename='img/meh.png') }}"
        alt="meh-face"
        data-value="meh"
        class="meh-face face {% if request.form['selected_value'] == 'meh' or entry['emotion'] == 'meh' %}selected{% endif %}"
        onclick="selectEmotion(this)"
      />
      <img
        src="{{ url_for('static', filename='img/angry.png') }}"
        alt="angry-face"
        data-value="angry"
        class="angry-face face {% if request.form['selected_value'] == 'angry' or entry['emotion'] == 'angry' %}selected{% endif %}"
        onclick="selectEmotion(this)"
      />
      <img
        src="{{ url_for('static', filename='img/sad.png') }}"
        alt="sad-face"
        data-value="sad"
        class="sad-face face {% if request.form['selected_value'] == 'sad' or entry['emotion'] == 'sad' %}selected{% endif %}"
        onclick="selectEmotion(this)"
      />
    </div>
    <input type="hidden" name="selected_value" id="selected_value" value="{{ request.form['selected_value'] or entry['emotion'] }}" />
    <button type="submit">Save</button>
  </form>
{% endblock content %}
