<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="theme-color" content="#33678a">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include 'links.html' %}
  <title>{% block title %}{% endblock title %}</title>
</head>
<body>
  {% if g.user %}
    <nav>
      MoodTracker
      {% block action %}{% endblock action %}
    </nav>
  {% endif %}

  {% block content %}{% endblock content %}
  <footer>
    <p>MoodTracker</p>
  </footer>
  <script src="{{ url_for('static', filename=('js/selectEmotion.js')) }}"></script>

</body>
</html>
