<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

<link rel="icon" href="{{ url_for('static', filename='img/webicon.svg') }}">

<link rel="manifest" href="{{ url_for('static', filename='json/manifest.json') }}">

<script src="{{ url_for('static', filename='js/pwa.js') }}"></script>
